<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar navbar-nav">
    <li>
      <button (click)="onGetAllProducts()" class="btn btn-outline-info ml-2">All</button>
      <button (click)="onSelectedProducts()" class="btn btn-outline-info ml-2">Selected</button>
      <button (click)="onAvailableProducts()" class="btn btn-outline-info ml-2">Available</button>
    </li>
  </ul>
</nav>
<div class="container" *ngIf="products">
<table class="table">
  <tr>
    <th>ID</th><th>Name</th><th>Price</th><th>Quantity</th><th>Selected</th><th>Available</th>
  </tr>
  <tr *ngFor="let  p of products">
    <td>{{p.id}}</td>
    <td>{{p.name}}</td>
    <td>{{p.price}}</td>
    <td>{{p.quantity}}</td>
    <td>{{p.selected}}</td>
    <td>{{p.available}}</td>
  </tr>
</table>
</div>
